.semaforo-container {
    /* posicion */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.semaforoTop {
    /* estilos */
    background-color: black;
    aspect-ratio: 1/2;
}
.semaforo {
    /* caja */
    padding: 2em;
    border-radius: 1em;
    aspect-ratio: 1/2;
    /* posicion */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* estilos */
    background-color: black;
}